.odd {
	color: white;
	background-color: lightblue;
	display: inline;
}

p {
	font-weight: bold;

	padding: 5%;
	display: inline;
}

.even {
	color: white;
	background-color: lightseagreen;
	display: inline;
}
